<header>
  <nav class="navbar custom-navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="assets/image/Logo.png" alt="Your Logo">
        </a>
  
        <!-- Category Select -->
        <div class="dropdown" (clickOutside)="onOutsideClick($event)">
          <button class="btn transparent-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown($event)">
            <span class="btn-icon">
              <i class="fa-solid fa-bars"></i>
            </span>
            Categories
          </button>
          <div id="myDropdown" class="dropdown-menu" [class.show-dropdown]="showDropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Gifts</a>
            <a class="dropdown-item" href="#">Flowers</a>
            <a class="dropdown-item" href="#">Decorations</a>
            <a class="dropdown-item" href="#">Jewelry</a>
            <a class="dropdown-item" href="#">Utensils</a>
            <a class="dropdown-item" href="#">Bamboo utensils</a>                   
          </div>
        </div>
  
        <!-- Search Input -->
        <div class="search-container">
          <input  type="text" class="search-input" placeholder="Search for anything" [(ngModel)]="inputText"/>
          @if (inputText != '') {
            <div class="clear-icon" (click)="clearInput()">
              <i class="fa-solid fa-x"></i>
            </div>
          }
          <div class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
        
        <!-- Đăng nhập Button -->
        @if(!isLoggedIn){
          <button class="btn transparent-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showSignIn()">Sign in</button>

        }
        
  
        <!-- Đơn hàng Icon -->
        <div class="d-flex align-items-center cart-icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>

        @if(isLoggedIn){
          <div class="view_account" (clickOutside)="onOutsideClick($event)">
            <button class="account" (click)="toggleMenu($event)">
              <i class="fa-regular fa-user icon_account"></i>
              <i class="fa-solid fa-caret-down trigger"></i>
            </button>
            @if(showMenu){
              <div class="menu">
                <ul class="list-menu">
                  <li>
                    <a href="" class="profile">
                      <i class="fa-regular fa-user icon_account"></i>
                      <span>
                        <h4 class="user_name">Hoàng Nguyễn Nhật Minh</h4>
                        <p>View your profile</p>
                      </span>
                    </a>
                  </li>
                  <li>
                    <hr>
                  </li>
                  <li>
                    <a href="" class="setting">
                      <i class="fa-solid fa-gear"></i>
                      <span>
                        <p>Account Setting</p>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="" class="sign_out">
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                      <span>
                        <p>Sign out</p>
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            }
          </div>
        }
        
      </div>
  </nav>
</header>


