<div class="footer_tren">
    <div class="content">
        <div class="caption">
            <div class="icon">
                <i class="fa-solid fa-seedling"></i>
            </div>
            <div class="title">
                Neko's Handcrafts commits to providing products made from environmentally-friendly materials.            </div>
            <div class="detail">
                At Neko's Handcrafts, we are committed not only to bringing you unique and exquisite products but also to placing great emphasis on using environmentally-friendly materials. With a special concern for environmental protection, we select sustainable and recycled sources of raw materials, step by step creating quality products while contributing to the protection of our planet.
            </div>
        </div>
    </div>
</div>

<div class="footer_duoi">
    <div class="neko_app">
        <a href="" class="logo">
            <img src="assets/image/Handcrafts.png" alt="app">
        </a>
        <a href="" class="btn_download">
            Download the app
        </a>
    </div>

    <div class="about">
        <div class="content">
            <div class="component">
                <h3>Shop</h3>
                <div class="body">
                    <ul>
                        <a href=""><li><span>Gift Card</span></li></a>
                        <a href=""><li><span>Registration agency</span></li></a>
                        <a href=""><li><span>Website layout</span></li></a>
                        <a href=""><li><span>Blog</span></li></a>

                    </ul>
                </div>
            </div>

            <div class="component">
                <h3>Sell</h3>
                <div class="body">
                    <ul>
                        <a href=""><li><span>Teams</span></li></a>
                        <a href=""><li><span>Forum</span></li></a>
                        <a href=""><li><span>Linkage and innovation</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="component">
                <h3>About</h3>
                <div class="body">
                    <ul>
                        <a href=""><li><span>Neko, Inc</span></li></a>
                        <a href=""><li><span>Policy</span></li></a>
                        <a href=""><li><span>Investor</span></li></a>
                        <a href=""><li><span>Signature</span></li></a>
                        <a href=""><li><span>Influence</span></li></a>
                        <a href=""><li><span>Legal footprint</span></li></a>
                    </ul>
                </div>
            </div>

            <div class="component">
                <h3>Help</h3>
                <div class="body">
                    <ul>
                        <a href=""><li><span>Help center</span></li></a>
                        <a href=""><li><span>Privacy settings</span></li></a>
                    </ul>
                </div>
                <div class="list_icon">
                    <ul>
                        <li><a href=""><span><i class="fa-brands fa-instagram"></i></span></a></li>
                        <li><a href=""><span><i class="fa-brands fa-facebook"></i></span></a></li>
                        <li><a href=""><span><i class="fa-brands fa-pinterest"></i></span></a></li>
                        <li><a href=""><span><i class="fa-brands fa-x-twitter"></i></span></a></li>
                        <li><a href=""><span><i class="fa-brands fa-youtube"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 title">
                <i class="fa-solid fa-earth-americas"></i>
                Head office in Vietnam
            </div>
            <div class="col-8 content">
                 © 2024 Neko, Inc.     
            </div>
        </div>
    </div>
</div>